
.dash-card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    border: 0.5px solid black;

}

.dash-card .card-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--black);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}